<div class="debt-grid">

    <!-- Debts -->
    <div *ngFor="let debt of allDebts; let i = index" class="debt-item">
        <app-individual-debt [index]="i" [debt]="debt" (onUpdated)="debtUpdated($event)" (debtDeleted)="deleteDebt($event)"></app-individual-debt>
    </div>

    <!-- Help Box -->
    <div class="debt-item debt-how-to">
        <div class="debt">
            <div class="">
                <h3>How our calculator works</h3>
                <ul>
                    <li>Enter a few details about any debts you have<small>You can add debts as required and must confirm atleast two</small></li>
                    <li>Confirm debts to include in calculation <small>You can edit / remove additional debts to exclude them</small></li>
                    <li>Calculate:
                        <small>- Your total debt<br/>
                            - Your total monthly payments<br/>
                            - The total cost of borrowing<br/>
                            - How long it will take to clear all debts
                        </small> 
                    </li>
                </ul>
            </div>
            <button (click)="addNewDebt()" class="btn btn-success">Add new debt</button>
        </div>
    </div>
</div>

<div class="debt-result" 
    *ngIf="totals.totalDebtAmount > 0 && 
    totals.totalCostOfCredit >= 0 &&
    (allDebts[0].debtConfirmed || allDebts[1].debtConfirmed)">

    <div class="debt-result-item">
        <h3>Debt amount:</h3>
        <span class="big-text currency">{{ totals.totalDebtAmount | currency:'gbp':true:'1.0-2' }}</span>
    </div>
    <div class="debt-result-item">
        <h3>Total Outgoing:</h3>
        <span class="big-text currency">{{ totals.totalRepayments | currency:'gbp':true:'1.0-2' }}<small>/month</small></span>
    </div>
    <div class="debt-result-item">
        <h3>Cost of credit:</h3>
        <span class="big-text currency">{{ totals.totalCostOfCredit | currency:'gbp':true:'1.0-2' }}</span>
    </div>
    <div class="debt-result-item">
        <h3>Repayment time:</h3>
        <span class="big-text">{{ utilities.formatMonths(totals.totalRepayTerm) }}</span>
    </div>
</div>


<div *ngIf="totals.totalCostOfCredit < 0">
    <p>The monthly payment you entered is not enough to payoff these debts</p>
</div>




<!--<button (click)="calculateTotalDebts(allDebts)" class="btn btn-primary">Submit</button>-->